{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - CGV{% endblock %}

{% block body %}
    <section class="section-cgv p-3 w-100 h-100">
        <h1 class="text-center">Conditions générales de ventes</h1>
        <a href="{{ path('home') }}" class="btn btn-info">Retour vers la page principale</a>
        <div class="definition my-bg-green rounded p-3">
            <h5 class="text-white">Définitions.</h5>
            <p>
                <span class="font-weight-bold text-white">Le prestataire</span> : SAMAKUNCHAN TECHNOLOGY est une micro entreprise, dont le siège social est situé 537 rue du pré aux clercs - 34090 MONTPELLIER, immatriculée au registre du commerce et des sociétés du Languedoc-Roussillon sous le numéro 842 127 201.
            </p>
            <p>
                Dans les présentes conditions générales de vente, est dénommée le client ou le prospect le CLIENT. Les présentes conditions générales de vente sont ci-après dénommées « les Conditions Générales ».
            </p>
            <p>
                Pour l'interprétation et la mise en œuvre des présentes Conditions Générales, il est convenu que les termes ci-après seront définis de la façon suivante.
            </p>
            <p>
                <span class="font-weight-bold text-white">Prestation</span> : désigne ci-après l'objet de la vente effectuée par SAMAKUNCHAN TECHNOLOGY. La prestation peut désigner un ensemble de prestations de services tel qu'un conseil, une mise à disposition d'un savoir-faire, ou de brevet, une prestation intellectuelle, la conception d'un site web ou d'une application métier, etc.
            </p>
            <p>
                <span class="font-weight-bold text-white">Site Web ou Internet</span> : désigne l'ensemble de pages composées de textes, d'images et le cas échéant d'éléments multimédia, accessible par une adresse URL et hébergée sur le disque dur d'un serveur permettant des accès multiples et simultanés via le réseau Internet.
            </p>
            <p>
                <span class="font-weight-bold text-white">Sources</span> : désigne le contenu élémentaire nécessaire à la création d'une prestation immatérielle : textes, images et sons pour un site Internet, documents comptables pour une solution de comptabilité, etc. Sauf mention contraire, la fourniture des sources est à la charge du CLIENT.
            </p>
            <p>
                <span class="font-weight-bold text-white">Cahier des charges</span> : désigne le document fourni par le CLIENT, ou réalisé en collaboration avec SAMAKUNCHAN TECHNOLOGY contre rémunération, décrivant le plus explicitement possible le contenu de la prestation attendue et des éventuelles contraintes et spécificités concernant les conditions techniques de production, d'exploitation et de qualité d'une prestation. Le cahier des charges ne constitue un élément contractuel qu'à partir de l'instant où il est signé par les 2 parties. Tout cahier des charges non signé ou signé uniquement par l'une des parties est considéré comme nul.
            </p>
            <p>
                <span class="font-weight-bold text-white">Élément contractue</span> : désigne un devis, un bon de commande, un contrat, un cahier des charges, une proposition commerciale dès lors qu'il est signé par SAMAKUNCHAN TECHNOLOGY et le CLIENT. Il peut aussi viser une facture ou un reçu d'acompte délivré par SAMAKUNCHAN TECHNOLOGY.
            </p>
        </div>
        <div class="my-bg-blue rounded p-3 h-100">
            <article class="article1">
                <h5 class="text-white">Article 1. Objet - Domaine d'application.</h5>
                <p>
                    Les Conditions Générales ont pour objet de régir les relations contractuelles entre LE PRESTATAIRE et le CLIENT et définir l'étendue des prestations proposées par LE PRESTATAIRE.
                </p>
                <p>
                    Les Conditions Générales s'appliquent à toute prestation de toute nature, effectuée par LE PRESTATAIRE dans les pays du monde entier. Elles prévalent sur toute autre condition d'achat, sauf dérogation expresse et formelle accordée par LE PRESTATAIRE. Elles pourront être modifiées ou complétées si LE PRESTATAIRE établit un ou plusieurs éléments contractuels qui, le cas échéant, tiendraient lieu de conditions particulières.
                </p>
                <p>
                    Le fait pour une personne physique ou morale, de commander un service ou produit au PRESTATAIRE emporte acceptation pleine et entière des présentes conditions générales de vente.
                </p>
                <p>
                    LE PRESTATAIRE peut modifier, réactualiser ou rectifier les présentes, notamment afin de prendre en compte une évolution législative, réglementaire, jurisprudentielle et/ou technique. LE PRESTATAIRE prévient, dans la mesure du possible, ses CLIENTS de toute modification de ses Conditions Générales, soit sur la page d'accueil de son site Internet (accessible à l'URL suivante <h6>URL A CHANGER</h6>), soit par le biais d'un affichage au siège social (situé à l'adresse indiquée dans le préambule). L'actualisation ne concerne en aucun cas les prestations déjà exécutées ou en cours d'exécution, sauf pour celles dont la durée restante est supérieure à six mois à la date de la modification. Dans ce cas les dernières Conditions Générales sont mises en application entre les parties. Dans le cas où l'une des dispositions des présentes est réputée ou déclarée nulle, ou non écrite, par un tribunal compétent, les autres dispositions restent intégralement en vigueur et doivent être interprétées de façon à respecter l'intention originelle des parties exprimée dans ce document.
                </p>
            </article>
            <article class="article2">
                <h5 class="text-white">Article 2. Formation et conditions d'éxécution du contrat.</h5>
                <p>
                    L'obligation respective de chaque partie, de réaliser la prestation pour LE PRESTATAIRE et de payer la prestation pour le CLIENT, naît à partir du moment où le CLIENT a dûment signé et retourné par fax, email ou courrier le ou les document(s) contractuel(s) émis par LE PRESTATAIRE ou à partir de l'encaissement d'un acompte initial par LE PRESTATAIRE. Si un devis a été établi, la demande de réalisation de la prestation décrite au devis vaut acceptation par le CLIENT.
                </p>
                <p>
                    Le CLIENT est conscient que le projet informatique qui se définit entre les parties peut se révéler complexe au sein de son entreprise et qu'il est susceptible de remettre profondément en cause son organisation et ses méthodes de travail ainsi que la qualification du personnel. Ce projet suppose ainsi une collaboration étroite entre les parties, un dialogue permanent dans un esprit de confiance et de respect mutuel.
                </p>
                <p>
                    L'investissement personnel du CLIENT dans la création du site est indispensable sans quoi un résultat qui ne correspondrait pas à ses attentes ne saurait relever de la responsabilité du PRESTATAIRE, comme indiqué à l'article 5 ci-dessous.
                </p>
                <p>
                    LE PRESTATAIRE peut décider de refuser, d'interrompre ou de modifier la prestation et ce, sans indemnités au profit du CLIENT ni remboursement d'acompte, dès l'instant où :
                </p>
                <ul>
                    <li>
                        Le CLIENT ne s'acquitte pas des sommes facturées par LE PRESTATAIRE.
                    </li>
                    <li>
                        Le CLIENT ne démontre pas, ou plus, un gage suffisant de solvabilité.
                    </li>
                    <li>
                        Lorsque le CLIENT ne présente pas ou plus les compétences nécessaires et spécifiques à la réalisation complète de la prestation, soit parce que le CLIENT manifeste une opposition systématique aux conseils et prestations prodigués par LE PRESTATAIRE, soit parce que le CLIENT se refuse à fournir les instructions ou sources nécessaires à la réalisation définitive de la prestation.
                    </li>
                    <li>
                        Lorsque LE PRESTATAIRE constate tout acte de piratage, de fraude ou de non-respect des règles éthiques, juridiques ou morales de la profession, imputable au CLIENT.
                    </li>
                </ul>
                <p>
                    LE PRESTATAIRE se réserve le droit d'apporter des modifications non substantielles à ses prestations, sans que cela ne vienne remettre en cause les liens contractuels ni les obligations entre les deux parties.
                </p>
                <p>
                    Toute prestation de gestion de nom de domaine, hébergement, adresses mail notamment, fait l'objet d'une facturation annuelle à date anniversaire. En cas d'interruption à l'initiative du client, ou de transfert vers un autre prestataire en cours d'année de l'une ou l'autre de ces prestations, le règlement est dû pour l'ensemble de l'année en cours.
                </p>
                <p>
                    Aucune commande d'une prestation ne peut être annulée sans l'accord express du PRESTATAIRE. A défaut, le CLIENT serait tenu de payer l'intégralité des sommes dues au PRESTATAIRE.
                </p>
            </article>
            <article class="article3">
                <h5 class="text-white">Article 3. Prix, facturation et délais.</h5>
                <p>
                    Le prix de la prestation est ferme. Il est stipulé hors taxes et exprimé en euro portant sur le montant total à payer.
                </p>
                <p>
                    Les conditions de l'offre concernent exclusivement les prestations spécifiées sur les éléments contractuels. Toute prestation supplémentaire et non prévue sur ces derniers fera l'objet d'une majoration équivalente à sa valeur. Le refus de paiement d'une telle prestation ouvrira le droit pour LE PRESTATAIRE à la résiliation et au paiement intégral du contrat de vente, et à une indemnité égale au préjudice subi et/ou à la valeur de la prestation additionnelle.
                </p>
                <p>
                    En cas de défaut de paiement total du prix de la prestation :
                </p>
                <p>
                    Nous nous réservons la propriété jusqu'au paiement complet du prix par l'acheteur. Notre réserve de propriété porte aussi bien sur les marchandises que sur leur prix si elles ont déjà été revendues (Loi N° 80.335 du 12 Mai 1980).
                </p>
                <p> Toute contestation ou réclamation relative à la facturation doit être adressée par lettre recommandée dans les dix jours à réception de la dite facture, à défaut de quoi LE PRESTATAIRE n'accepte plus aucun grief.

                </p>
            </article>
            <article class="article4">
                <h5 class="text-white">Article 4. Livraison de la prestation.</h5>
                <p>
                    Sauf stipulation expresse contraire, la livraison, quelle que soit la prestation, est effectuée au lieu du siège social du PRESTATAIRE sans formalité particulière. Sauf manifestation LE PRESTATAIRE ou du CLIENT dans un délai de deux semaines à partir de la date de livraison prévue, la livraison est réputée avoir eu lieu aux dates et conditions prévues.
                </p>
                <p>
                    Le CLIENT peut demander un report de livraison d'un maximum de trois semaines en adressant une demande écrite au PRESTATAIRE. Cependant, aucun report de date de livraison à l'initiative du CLIENT n'est accepté si la demande n'est pas introduite au moins 48 (quarante-huit) heures avant la date prévue de livraison de la prestation.
                </p>
                <p>
                    Les délais de livraison ne sont pas rigoureux ; ils ne sont donnés qu'à titre indicatif. LE PRESTATAIRE ne peut être retenu responsable d'un quelconque retard qui ne peut être invoqué pour refuser la marchandise ou exiger une indemnité ou rabais
                </p>
                <p>
                    Lorsque le CLIENT ne transmet pas dans les délais convenus les éléments nécessaires à la bonne réalisation de la prestation (sources, cahier des charges, etc.), ce fait a pour conséquence directe de retarder la réalisation et donc la livraison de la prestation par LE PRESTATAIRE. Pour autant, LE PRESTATAIRE ne saurait en aucun cas être considéré comme responsable d'une situation qu'il subit en premier lieu. Dès lors, le CLIENT reste soumis à pénalité jusqu'à ce que les éléments nécessaires soient transmis, ou sera sanctionné conformément aux dispositions de l'article 2.
                </p>
                <p>
                    Si lors de la livraison de la prestation, le CLIENT considère que la prestation n'est pas conforme à la commande, il doit dans une période de deux mois à compter de la livraison, déclarer par écrit le dysfonctionnement des vices qu'il impute à la prestation, et fournir toute justification quant à la réalité de ceux-ci. En tout état de cause, la garantie d'une prestation ne concerne que les éléments mentionnés dans les éléments contractuels. En particulier, en cas de réclamation sur une prestation essentiellement immatérielle (site Internet, solution de gestion, application métier etc) le cahier des charges reste le document de référence auquel les deux parties doivent se référer pour évaluer si la prestation est conforme aux spécificités du projet. Seuls les éléments mentionnés dans ce document sont considérés comme relevant des obligations du PRESTATAIRE. A défaut de présentation du cahier des charges, les obligations du PRESTATAIRE sont strictement limitées à une considération minimale au regard des prestations mentionnées dans les éléments contractuels. Dans ce cas, le CLIENT ne peut se prévaloir que d'une absence de réalisation de la prestation ou de l'un de ses éléments majeurs, les éléments mineurs ou déjà intégrés étant considérés comme parfaitement achevés.
                </p>
            </article>
            <article class="article5">
                <h5 class="text-white">Article 5. Obligations et responsabilités du PRESTATAIRE.</h5>
                <p>
                    LE PRESTATAIRE s'engage à apporter tout le soin et la diligence nécessaires à la fourniture d'un service de qualité conformément aux usages de la profession et à l'état de l'art. LE PRESTATAIRE ne répond que d'une obligation de moyens qui ne doit en aucun cas être assimilée à une obligation de résultat.
                </p>
                <p>
                    LE PRESTATAIRE s'engage à :
                </p>
                <ul>
                    <li>
                        Intervenir rapidement en cas de vice de fonctionnement provenant de défaut
                        de conception ou d'exécution de ses solutions.
                    </li>
                    <li>
                        Utiliser des outils de de qualité lors de la conception du projet.
                    </li>
                    <li>
                        Mettre tous les moyens en œuvre pour assurer dans des conditions optimales le bon fonctionnement des prestations acquises par le CLIENT.
                    </li>
                </ul>
                <p>
                    <em>Limitations de responsabilités.</em>
                </p>
                <p>
                    LE PRESTATAIRE ne pourra être tenu responsable en cas de :
                </p>
                <ul>
                    <li>
                        Faute, négligence, omission ou défaut d'entretien du CLIENT, non-respect
                        des conseils donnés. <br>
                        En particulier, lorsque LE PRESTATAIRE réalise des prestations d'hébergement, il conserve le contrôle des accès FTP. Cependant, dès lors que le client dispose desdits accès FTP, LE PRESTATAIRE est automatiquement dégagé de toute responsabilité quant à l'indisponibilité des pages, la nature du contenu (non-respect du droit d'auteur notamment), le défaut d'affichage, la détérioration partielle ou totale du contenu des pages.
                        <br>
                        De manière générale, LE PRESTATAIRE n'est en aucune façon responsable d'un dysfonctionnement résultant d'une mauvaise utilisation du CLIENT ou d'une intervention du CLIENT sans autorisation sur la prestation effectuée par LE PRESTATAIRE.
                    </li>
                    <li>
                        Interruption de l'hébergement.
                    </li>
                    <li>
                        Faute, négligence ou omission d'un tiers sur lequel LE PRESTATAIRE n'a
                        aucun pouvoir de contrôle de surveillance. <br>
                    </li>
                    <li>
                        En particulier, lorsque LE PRESTATAIRE fournit des liens vers d'autres sites, par des bandeaux publicitaires ou non, ou par tout autre moyen, il ne peut être tenu responsable du contenu, des produits, des services, de la publicité, des cookies ou tous autres éléments de ces sites ainsi que pour tous dommages ou pertes, avérés ou allégués, consécutifs ou en relation avec l'utilisation des informations, services ou données disponibles sur ces sites.
                    </li>
                    <li>
                        Divulgation ou utilisation illicite du mot de passe remis confidentiellement au CLIENT.
                    </li>
                    <li>
                        Dysfonctionnement ou ralentissement des réseaux ou de l'Internet dans son ensemble.
                    </li>
                </ul>
            </article>
            <article class="article6">
                <h5 class="text-white">Article 6. Propriétés intellectuelles.</h5>
                <p>
                    Tout élément fourni par le CLIENT est protégé par le droit de la propriété intellectuelle et reste sa seule propriété. Il déclare disposer de tous les droits et/ou autorisations nécessaires, et garantit LE PRESTATAIRE contre toute réclamation éventuelle d’un tiers qui prétendrait avoir un droit de propriété intellectuelle sur l’un quelconque des éléments fournis par lui notamment de tous textes, images, logos, graphiques, photos, films audio ou vidéo, fichiers, logiciels, bases de données.
                </p>
                <p>
                    Le CLIENT est propriétaire du contenu c'est à dire des informations se trouvant sur son site (logo, pages HTML, fichiers images, sons ...), des bases de données, fichier clients ou autres.
                </p>
                <p>
                    L'ensemble des créations du PRESTATAIRE restent sa propriété exclusive, et LE PRESTATAIRE se réserve le droit de revendre ou d'utiliser tout ou partie de ses créations. Ainsi, tout logiciel, application métier, ou autres développements spécifiques réalisés pour le CLIENT reste la propriété du PRESTATAIRE. Les droits d'exploitation de ces créations ne sont donc cédés au CLIENT qu'à titre non exclusif.
                </p>
                <p>
                    LE PRESTATAIRE donne l'autorisation au CLIENT, lors d'une prestation immatérielle de modifier ou améliorer le code source existant, aux conditions impératives de ne pas revendre ou dupliquer les sources. Dans ce cas le CLIENT est le seul responsable des modifications ou améliorations et donc ne peut en aucune manière engager la responsabilité du PRESTATAIRE comme indiqué à l'article 5 des présentes.
                </p>
                <p>
                    Lorsque LE PRESTATAIRE acquiert un ou plusieurs noms de domaine dans le cadre d'une prestation Internet, ces noms de domaines sont achetés au nom et pour le compte du CLIENT. Celui-ci peut demander à tout moment le transfert à ses propres coordonnés de la propriété des domaines, sous réserve du règlement au PRESTATAIRE des sommes dues au titre de la prestation pour laquelle les noms de domaines ont été acquis et plus généralement du règlement de l'ensemble des sommes dues au PRESTATAIRE. A défaut, le CLIENT entre dans les dispositions des articles 3, 4 et 7 des présentes et s'expose notamment à la revente ou au non-renouvellement des domaines.
                </p>
                <p>
                    Tout le contenu du site du PRESTATAIRE est l'entière propriété du PRESTATAIRE, et est protégé par la législation en vigueur sur le droit d'auteur et sur la propriété intellectuelle. Sans accord préalable de la part du PRESTATAIRE, il est interdit d'utiliser, même partiellement le contenu du site. La violation de ces dispositions peut entraîner l'annulation de toute commande, ce nonobstant l'engagement de poursuites.
                </p>
            </article>
            <article class="article7">
                <h5 class="text-white">Article 7. Réserve de propriété.</h5>
                <p>
                    LE PRESTATAIRE conserve l'entière propriété de la prestation et de chacun de ses éléments, y compris immatériel, jusqu'au paiement effectif de l'intégralité du prix et accessoires et plus généralement jusqu'au règlement total de toute facturation due par le CLIENT à la société PRESTATAIRE.
                </p>
                <p>
                    Dans le cas où une prestation fait l'objet d'une interruption définitive, que celle-ci soit à l'initiative du CLIENT ou du PRESTATAIRE, LE PRESTATAIRE a toute latitude, après avoir informé son CLIENT, de vendre, de détruire, de renouveler pour son propre compte ou celui de tiers, ou de ne pas renouveler tout actif inclus dans la prestation.
                </p>
            </article>
            <article class="article8">
                <h5 class="text-white">Article 8. Utilisation des références.</h5>
                <p>
                    Le CLIENT autorise LE PRESTATAIRE à utiliser son nom et à mentionner les prestations réalisées pour son compte à des fins commerciales.
                </p>
                <p>
                    LE PRESTATAIRE se réserve le droit de faire mention de sa qualité de créateur du site Internet, et d'implanter son logo sur l'ensemble des prestations crées pour le CLIENT, notamment au sein des sites Internet.
                </p>
            </article>
            <article class="article9">
                <h5 class="text-white">Article 9. Confidentialité.</h5>
                <p>
                    LE PRESTATAIRE et le CLIENT s'engagent à conserver confidentiels les informations et documents concernant l'autre partie, de quelque nature qu'ils soient, auxquels les parties auraient pu avoir accès au cours de la prestation.
                </p>
                <p>
                    La précédente disposition ne fait pas obstacle à ce que LE PRESTATAIRE puisse faire état de sa relation commerciale avec le CLIENT, comme précisé à l'article 8 susvisé.
                </p>
            </article>
            <article class="article10">
                <h5 class="text-white">Article 10. Loi informatique et liberté.</h5>
                <p>
                    Le client s'engage expressément à assurer lui-même l'ensemble des formalités obligatoires à accomplir auprès de la CNIL (Commission Nationale de l'Informatique et des Libertés).
                </p>
                <p>
                    Conformément à la loi informatique et liberté du 6 janvier 1978 (art. 34), le CLIENT dispose d'un droit permanent d'accès, de modification, de rectification et de suppressions relatives aux informations le concernant.
                </p>
            </article>
            <article class="article11">
                <h5 class="text-white">Article 11. Cas de force majeure.</h5>
                <p>
                    La société PRESTATAIRE n'encourt aucune responsabilité en cas de nonexécution ou de retard dans l'exécution de l'une de ses obligations si celle-ci résulte d'un fait indépendant de sa volonté et qui échappe à son contrôle. Est considéré comme tel, tout événement extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code Civil et de la jurisprudence des tribunaux français.
                </p>
            </article>

            <article class="article12">
                <h5 class="text-white">Article 12. Non sollicitation du personnel.</h5>
                <p>
                    Le CLIENT s'engage à ne pas débaucher le personnel du PRESTATAIRE ayant participé à la réalisation de prestations pour le CLIENT et ceci, deux années après la fin de la dernière prestation effectuée par le salarié concerné au profit du CLIENT.
                </p>
            </article>

            <article class="article13">
                <h5 class="text-white">Article 13 : Dispositions générales.</h5>
                <p>
                    <em>Divisibilité</em>
                </p>
                <p>
                    Si l’une quelconque des stipulations du présent contrat s’avérait nulle au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle serait alors réputée non écrite, sans pour autant entraîner la nullité du contrat ni altérer la validité de ses autres dispositions. Le fait que l’une ou l’autre des parties ne revendique pas l’application d’une clause quelconque du contrat ou acquiesce à son inexécution, que ce soit de manière permanente ou temporaire, ne pourra être interprété comme une renonciation par cette partie aux droits qui découlent pour elle de ladite clause. Dans ce cas, les parties devront dans la mesure du possible remplacer la disposition annulée par une disposition valable correspondant à l’esprit et à l’objet des conditions contractuelles.
                </p>
                <p>
                    <em>Intitulés</em>
                </p>
                <p>
                    Les intitulés des articles des conditions contractuelles ont pour seul but de faciliter les références et n’ont pas par eux-mêmes, une valeur contractuelle ou une signification particulière.
                </p>
                <p>
                    <em>Notifications</em>
                </p>
                <p>
                    Toutes les notifications, communications, mises en demeure prévues par les conditions générales seront réputées avoir été valablement délivrées au client si elles sont adressées par lettre recommandée avec demande d’avis de réception :
                </p>
                <ul>
                    <li>
                        – pour SAMAKUNCHAN TECHNOLOGY : 537 rue du pré aux clercs – 34090
                        Montpellier.
                    </li>
                    <li>
                        – pour le titulaire de l’hébergement : à l’adresse postale et/ou e-mail qu’il a fournie
                        à SAMAKUNCHAN TECHNOLOGY.
                    </li>
                </ul>
            </article>

            <article class="article14">
                <h5 class="text-white">Article 14. Loi Applicable et attribution de juridiction</h5>
                <p>
                    La loi française sera seule applicable au présent contrat, à l’exclusion, d’une part, des règles de conflit prévues par la loi française, et d’autre part, des dispositions de la loi Française qui seraient contraires au présent contrat. Tout litige entre les parties, relatif à leurs relations contractuelles et notamment à l’interprétation, l’exécution et la résiliation du présent contrat, sera soumis au tribunal de commerce de La Roche Sur Yon (85) même en cas d’appel en garantie ou de pluralité de défendeurs. Le simple fait d'accepter et de signer l’offre commerciale concernant une prestation d'hébergement de site internet vaudra pour acceptation pleine et entière des présentes conditions contractuelles.
                </p>
            </article>

            <article class="article15">
                <h5 class="text-white">Article 15. Evolution de logiciels tiers</h5>
                <p>
                    Le CLIENT se doit d’indiquer au PRESTATAIRE toutes évolutions des logiciels tiers qui seraient en lien avec le SITE WEB. Toutes adaptations du SITE WEB, test, correction d’incident dû au fait de l’évolution d’un logiciel tiers, seront à la charge financière du client.
                </p>
            </article>

            <article class="article16">
                <h5 class="text-white">Article 16. Evolution de la législation</h5>
                <p>
                    Dans le cas d’une évolution de la législation impliquant des modifications pour la mise en conformité du SITE WEB, les frais de développement seront à la charge du client. Le développement du SITE WEB étant antérieur à la nouvelle législation, le prestataire ne peut être tenu responsable d’une éventuelle impossibilité de mise en conformité avec la nouvelle législation.
                </p>
            </article>
        </div>
    </section>
{% endblock %}
