{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <main id="main">
        <header>
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <span class="navbar-brand">Samakunchan Technology</span>
                <img class="navbar-brand" src="{{ asset('images/logo-fr.png') }}" alt="">
                <ul class="nav navbar-nav w-75 justify-content-end">
                    <li class="nav-item">
                        <a id="part0" class="nav-link m-4" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="part1" class="nav-link m-4" href="#section1">Section 1</a>
                    </li>
                    <li class="nav-item">
                        <a id="part2" class="nav-link m-4" href="#section2">Section 2</a>
                    </li>
                </ul>
            </nav>

            <div class="triangle"></div>
            <div class="triangle-shadow"></div>
            <div class="triangle-btn"></div>
            <div class="triangle-btn-shadow"></div>
        </header>
        <section id="home" class="page part0 container-fluid active-page">
            <article>
                <h1>Samakunchan</h1>
            </article>
        </section>
        <section id="section1" class="page part1 container-fluid"></section>
        <section id="section2" class="page part2 container-fluid"></section>
    </main>
{% endblock %}
