main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
}


.part0{
    background-color: whitesmoke;
}
.part1{
    background-color: #04949e;
}
.part2{
    background-color: pink;
}

.page{
    position: relative;
    top: 100vh;
}
nav{
    background-color: white;
    display: inline-flex;
    width: 100vw;
    height: 9vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 10;
}

.triangle{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 30px solid white;
    z-index: 9;
}
.triangle-shadow{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 33px solid rgba(0, 0, 0, 0.4);
    z-index: 9;
}
.triangle-btn{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid #3CC157;
    z-index: 8;
}
.triangle-btn-shadow{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 53px solid rgba(0, 0, 0, 0.4);
    z-index: 7;
}
.triangle-btn:hover{
    border-top: 50px solid #3CC157;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/*Header*/
header img{
    width: 4vw;
    height: 8vh;
    object-fit: contain;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #ff649c!important;
}
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/*Section 1*/

#home article{
    position: absolute;
}

#home article div{
    position: absolute;
    width: 40vw;
    top: 40vh;
    left: 30vw;
}

#home article h2{
    width: 20vw;
}

#home article #texte0{
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#home article #texte1{
    position: absolute;
    top: 20vh;
    left: 50vw;
}

#home article #texte2{
    position: absolute;
    top: 30vh;
    left: 30vw;
}

#home article #texte3{
    position: absolute;
    top: 60vh;
    left: 60vw;
}

#home article #texte4{
    position: absolute;
    top: 70vh;
    left: 45vw;
}

#home article div em{
    float: right;
}
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/*Section 2*/
.onglet{
    position: absolute;
    top: -20vh;
    width: 100vw;
    height: 50vh;
    background-color: red;
    z-index: 2;
}