main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
}
.my-text-blue{
    color: #04949e;
}
.my-bg-blue{
    background-color: #04949e;
}
.my-text-green{
    color: #3CC157;
}
.my-bg-green{
    background-color: #3CC157;
}
.my-text-orange{
    color: #F85F36;
}
.my-bg-orange{
    background-color: #F85F36;
}
.my-text-yellow{
    color: #FCBC0F;
}
.my-bg-yellow{
    background-color: #FCBC0F;
}
.part0{
    background-color: whitesmoke;
}
.part1{
    background-color: #04949e;
}
.part2{
    background-color: #3CC157;
}
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/*Animation des pages*/
.page{
    position: relative;
    top: 100vh;
}
.slideshow{
    position: relative;
    top: 0vh;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}
/****************************************************************************************/
/**********************************HEADER NAVBAR MENU************************************/
/****************************************************************************************/
header img{
    width: 20vw;
    height: 10vh;
    object-fit: contain;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #ff649c!important;
}
.navbar-brand{
    font-weight: bold;
}
.navbar-brand:hover{
    color: #5eb5e0;
}
.navbar-light .navbar-brand{
    color: #5eb5e0;
}
.navbar-light .navbar-brand span{
    color: #FCBC0F;
    font-weight: 100;
    font-size: 15px;
}
nav{
    background-color: white;
    display: inline-flex;
    width: 100vw;
    height: 9vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.triangle{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 30px solid white;
    z-index: 9;
}
.triangle-shadow{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 33px solid rgba(0, 0, 0, 0.4);
    z-index: 9;
}
.triangle-btn{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid #3CC157;
    z-index: 8;
}
.triangle-btn-shadow{
    position: fixed;
    top: 5vh;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 53px solid rgba(0, 0, 0, 0.4);
    z-index: 7;
}
.triangle-btn:hover{
    border-top: 50px solid #3CC157;
}
.space-navbar{
    height: 9vh;
}
/****************************************************************************************/
/*******************************HOME PAGE D'ACCUEIL**************************************/
/****************************************************************************************/
#home{
    height: 100vh;
}

#home article{
    position: absolute;
}

#home article div{
    position: absolute;
    width: 40vw;
    top: 40vh;
    left: 30vw;
}

#home article h2{
    width: 20vw;
}

#home article #texte0{
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#home article #texte1{
    position: absolute;
    top: 20vh;
    left: 50vw;
}

#home article #texte2{
    position: absolute;
    top: 30vh;
    left: 30vw;
}

#home article #texte3{
    position: absolute;
    top: 60vh;
    left: 60vw;
}

#home article #texte4{
    position: absolute;
    top: 70vh;
    left: 45vw;
}

#home article div em{
    float: right;
}
#home .footer-home{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 15vh;
    background-color: #04949e;

}
/****************************************************************************************/
/***************************COMPETENCE TECHNOLOGIE PROCESS*******************************/
/****************************************************************************************/
.competence h1{
    padding: 20px;
}
#competence ul li .smartphone{
    display: none;
}
.competence .nav-tabs .nav-link{
    color: white;
    font-size: 20px;
}
#competence .nav-tabs .nav-link.active{
   color: #5eb5e0;
}
/***************************Responsive Design*******************************/

.responsive-design-list li aside{
    text-align: center;
}
.responsive-design-list li article{
    padding: 20px;
    text-align: justify;
    background-color: rgba(4, 148, 158, 0.6);
}
#responsive-design, #technologies-utilises, #process, #seo{
    height: 100vh;
}
.responsive-design-list article{
    width: 50vw;
}

#responsive-design ul{
    padding-top: 20px;
}
/***************************Technology*******************************/
.technology li{
    display: inline-block;
}

.technology li img{
    padding-top: 50px;
    margin: 20px;
    max-width: 200px;
    height: 20vh;
    object-fit: contain;
}

/***************************Process*******************************/

/***************************Footer Competence*******************************/
#competence .footer-competence{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 15vh;
    background-color: pink;
    z-index: 2;
}

/****************************************************************************************/
/****************************REALISATION*************************************************/
/****************************************************************************************/
#realistation{
    position: relative;
    width: 100vw;
}
.part2 h1{
    padding: 20px;
}
#realistation ul{
    padding-left: 5vw;
    padding-right: 5vw;
}
.realisation-list li{
    display: inline-block;
}
/*Pour avoir les images qui passent automatiquement en dessous, il faut le le max-width en px*/
.realisation-list li img{
    max-width: 240px;
    display: block;
    object-fit: contain;
}
/***************************Footer Realisation*******************************/
#realistation .footer-realistation{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 15vh;
    background-color: whitesmoke;
    z-index: 2;
}
/****************************************************************************************/
/****************************CONTACT*****************************************************/
/****************************************************************************************/
#contact h1 {
    padding: 20px;
}
/***************************MAP*********************************************************/
.map{
    position: absolute;
    padding-left: 0;
    height: 100vh;
}
.contact-web .card-header, .contact-web .card-body{
    text-align: center;
}
.bg-danger .card-body{
    text-align: justify;
}
.contact-mobile{
    display: none;
}
.map .card-body{
    padding: 0;
}
.map-box {
    width:84vw;
    height:37vh;
}
.res{
    display: flex;
    justify-content: center;
}
.res i{
    padding: 5px;
}