@media screen and (max-width: 1024px){
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    .mockup img{
        max-width: 50vw;
    }

}
@media screen and (max-width: 980px){
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    #competence .nav-tabs .nav-link{
        font-size: 15px;
    }
    #technologies-utilises .technology li img{
        height: 18vh;
    }
    /****************************************************************************************/
    /****************************REALISATION*************************************************/
    /****************************************************************************************/
    #realistation .realisation-list li img{
        max-width: 220px;
    }
}
