@media screen and (min-width: 320px){
    /****************************************************************************************/
    /****************************HEADER******************************************************/
    /****************************************************************************************/
    .logo{
        display: none;
    }
    .navbar-brand{
        font-size: 75px;
        width: 100vw;
        text-align: center;
    }
    .nav-item a, .navbar-toggler-icon{
        font-size: 75px;
    }
    .navbar-toggler{
        position: absolute;
        top: 9vh;
    }
    #navbarColor02{
        position: absolute;
        top: 13vh;
        width: 100vw;
    }
    #navbarColor02 ul li a{
        padding: 30px;
    }
    .trg{
        display: none;
    }
    /****************************************************************************************/
    /****************************HOME********************************************************/
    /****************************************************************************************/
    #home article div{
        width: 100vw;
        left: 0;
        text-align: center;
    }
    #home article div h1{
        font-size: 75px;
    }
    #home article div em{
        font-size: 40px;
        float: initial;
    }
    #home article h2{
        font-size: 75px;
    }
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    #competence{
        padding-top: 150px;
    }
    #competence h1{
        font-size: 60px;
    }
    #competence .nav-item a{
        font-size: 45px;
    }
    #competence ul li .smartphone{
        display: block;
    }
    #competence ul li .smartphone img{
        width: 15vw;
    }
    #competence ul li .other{
        display: none;
    }
    /***********************************Responsive Design*************************************/
    #competence .responsive-design-list{
        width: 100vw;
        text-align: center;
    }
    #competence .responsive-design-list li, #competence .responsive-design-list li aside, #competence .responsive-design-list li article{
        max-width: 100vw;
        padding: 40px;
    }
    #competence .responsive-design-list li aside img{
        max-width: 100vw;
    }
    #competence .responsive-design-list li article h2{
        font-size: 60px;
        text-align: center;
    }
    #competence .responsive-design-list li article p{
        font-size: 65px;
        padding-top: 65px;
    }
    /***********************************Technology******************************************/
    .technology{
        text-align: center;
    }
    #technologies-utilises ul li img{
        margin: 0;
        height: initial;
        max-width: 49vw;
    }
    /***********************************Process*********************************************/
    #process p{
        font-size: 60px;
    }
    /****************************************************************************************/
    /****************************REALISATION*************************************************/
    /****************************************************************************************/
    #realistation{
        padding-top: 20px;
    }
    #realistation h1{
        font-size: 60px;
    }
    #realistation ul{
        padding-top: 20px;
    }
}
@media screen and (min-width: 768px){
    /****************************************************************************************/
    /****************************HEADER******************************************************/
    /****************************************************************************************/
    #navbarColor02 {
        position: absolute;
        top: 18vh;
        width: 100vw;
    }
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    #competence{
        padding-top: 20px;
    }
    #competence .responsive-design-list li, #competence .responsive-design-list li aside, #competence .responsive-design-list li article{
        padding: 0;
    }
    /***********************************Responsive Design*************************************/
    #competence .responsive-design-list li article p {
        font-size: 35px;
        padding-top: 65px;
        padding-left: 35px;
        padding-right: 35px;
    }
    /***********************************Technology********************************************/
    #technologies-utilises ul li img {
        margin: 0;
        height: initial;
        max-width: 24vw;
    }
    /****************************************************************************************/
    /****************************REALISATION*************************************************/
    /****************************************************************************************/
    #realistation{
        padding-top: 20px;
    }
    #realistation h1{
        font-size: 60px;
    }
    #realistation ul{
        padding-top: 20px;
    }
}





