@media screen and (max-width: 800px){
    #main{
        overflow: scroll;
    }
    .home-web{
        display: none;
    }
    .home-mobile{
        display: block;
    }
    .home-mobile img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .home-mobile div{
        width: 100vw;
        position: absolute;
        top: 50vh;
        text-align: center;
    }
    .mockup{
        display: none;
    }
    #competence .nav-tabs .nav-link {
        font-size: 11px;
    }
    #technologies-utilises .technology li img{
        height: 14vh;
    }

    #realistation .realisation-list li img {
        max-width: 140px;
    }

}
@media screen and (max-width: 425px){
    .mes-infos, .formulaire {
        width: 100vw;
        #margin: 1px;
    }
}
@media screen and (max-width: 360px){
    #competence h1 {
        padding: 15px;
    }
    #competence .nav-item{
        margin-left: 0;
        margin-right: 0;
    }
    #myTabContent #responsive-design ul {
        padding-top: 0;
    }
    .responsive-design-list article h2{
        font-size: 20px;
    }
    .responsive-design-list article p{
        font-size: 13px;
    }
    #contact .contact-web{
        display: none;
    }
    #contact .contact-mobile{
        display: block;
    }
}

@media screen and (max-width: 320px){
    #competence h1 {
        padding: 15px;
    }
    #competence .nav-item{
        margin-left: 0;
        margin-right: 0;
    }
    #myTabContent #responsive-design ul {
        padding-top: 0;
    }
    .responsive-design-list article h2{
        font-size: 20px;
    }
    .responsive-design-list article p{
        font-size: 13px;
    }
}