@media screen and (max-width: 768px){
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    .competence .nav-item{
        margin-right: 0;
    }
    #responsive-design .responsive-design-list article{
        width: 100vw;
    }
    /****************************************************************************************/
    /****************************REALISATION*************************************************/
    /****************************************************************************************/
    #realistation .realisation-list li img{
        max-width: 200px;
    }
}
@media screen and (max-width: 665px){
    /****************************************************************************************/
    /****************************COMPETENCE**************************************************/
    /****************************************************************************************/
    .competence .nav-item{
        margin-left: 0;
    }
    .mockup{
        display: none;
    }
    #technologies-utilises .technology li img{
        height: 15vh;
    }
    /****************************************************************************************/
    /****************************REALISATION*************************************************/
    /****************************************************************************************/
    #realistation .realisation-list li img{
        max-width: 150px;
    }
}