/*A modifier quand j'aurai rajouté la partie*/
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 30px!important;
        padding: 10px;
    }
    .navbar-brand{
        font-size: 20px;
    }
    #navbarColor02 ul li a {
        font-size: 20px;
    }
    #competence{
        padding-left: 2vw;
        padding-right: 2vw;
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
    #competence ul{
        padding-top: 50px;
    }
    #competence ul li a{
        font-size: 25px;
        padding: 10px;
    }
    #competence .responsive-design-list li {
        width: 100vw;
        text-align: center;
    }

    #competence .responsive-design-list li aside{
        max-width: 100vw!important;
    }

    #competence .responsive-design-list li article{
        max-width: 95vw!important;
    }
    #responsive-design aside img{
        max-width: 100%;
    }


    #realistation{
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }

    #realistation ul{
        padding-top: 50px;
    }

    .realisation-list li img {
        max-width: 300px!important;
    }
}

@media screen and (max-width: 980px){
    .logo{
        display: none;
    }
    .navbar-brand{
        font-size: 40px;
    }
    .navbar-toggler-icon{
        font-size: 40px;
    }
    #navbarColor02 ul li a {
        font-size: 40px;
        padding: 20px;
    }
    .realisation-list li img {
        max-width: 290px!important;
    }
}